---
import Launches from "../components/Launches.astro";
import Layout from '../layouts/Layout.astro';
---

<Layout title='SpaceX Launches.'>
		<div class="container py-12">
			<h1 class="text-3xl text-center font-bold leading-tight text-gray-900 dark:text-gray-100 sm:text-4xl md:text-6xl">
			SpaceX Launches! 🚀
		</h1>
		<p class="mt-8 max-w-md mx-auto text-lg leading-loose text-gray-5
		dark:text-gray-400">
		The SpaceX Crew Dragon, carrying a crew of four astronauts to the International Space Station (ISS), launched on Tues. The SpaceX Crew Dragon, carrying a crew of four astronauts to the International
		Space Station (ISS), launched at approximately 7:30 PM EST. February 12th. The mission is titled. "Crew-3", and it marks the beginning of a new chapter in human spaceflight with a long-duration
		crew aboard the ISS.
	</p>
		</div>
		<Launches />
</Layout>

