---
import HeaderButton from './HeaderButton.astro'
---

<header class='py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6'>
	<div class='mx-auto text-center mb-8 lg:mb-16'>
		<h2 class='mb-4 text-5xl tracking-tight font-extrabold text-white'>
			🔥 SpaceX launches🚀
		</h2>
		<p class='font-light text-gray-500 sm:text-xl dark:text-gray-400'>
			All the information about SpaceX launches
		</p>
	</div>
	<nav class='flex flex-col text-center mt-16'>
		<ul
			class='list-none ml-0 w-full flex flex-col items-center justify-between md:gap-10 md:flex-row'
		>
			<li>
				<HeaderButton path='/'>
					<svg
						slot='before'
						width='24'
						height='24'
						viewBox='0 0 24 24'
						stroke-width='2'
						stroke='currentColor'
						fill='none'
						stroke-linecap='round'
						stroke-linejoin='round'
					>
						<path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
							d='M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3'
						></path><path d='M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3'></path><path
							d='M15 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0'></path>
					</svg>
					 Últimos lanzamientos
				</HeaderButton>
			</li>
			<li>
				<HeaderButton path='/oldest'>
					<svg
						slot='before'
						width='24'
						height='24'
						viewBox='0 0 24 24'
						stroke-width='2'
						stroke='currentColor'
						fill='none'
						stroke-linecap='round'
						stroke-linejoin='round'
					>
						<path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
							d='M16.95 9.01c3.02 .739 5.05 2.123 5.05 3.714c0 2.367 -4.48 4.276 -10 4.276s-10 -1.909 -10 -4.276c0 -1.59 2.04 -2.985 5.07 -3.724'
						></path><path
							d='M7 9c0 1.105 2.239 2 5 2s5 -.895 5 -2v-.035c0 -2.742 -2.239 -4.965 -5 -4.965s-5 2.223 -5 4.965v.035'
						></path><path d='M15 17l2 3'></path><path d='M8.5 17l-1.5 3'
						></path><path d='M12 14h.01'></path><path d='M7 13h.01'></path><path
							d='M17 13h.01'></path>
					</svg>
					 Los más viejos
				</HeaderButton>
			</li>
			<li>
				<HeaderButton path='/about'>
					<svg
						slot='before'
						width='24'
						height='24'
						viewBox='0 0 24 24'
						stroke-width='2'
						stroke='currentColor'
						fill='none'
						stroke-linecap='round'
						stroke-linejoin='round'
					>
						<path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
							d='M12 2c5.523 0 10 4.477 10 10a10 10 0 0 1 -19.995 .324l-.005 -.324l.004 -.28c.148 -5.393 4.566 -9.72 9.996 -9.72zm0 9h-1l-.117 .007a1 1 0 0 0 0 1.986l.117 .007v3l.007 .117a1 1 0 0 0 .876 .876l.117 .007h1l.117 -.007a1 1 0 0 0 .876 -.876l.007 -.117l-.007 -.117a1 1 0 0 0 -.764 -.857l-.112 -.02l-.117 -.006v-3l-.007 -.117a1 1 0 0 0 -.876 -.876l-.117 -.007zm.01 -3l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007z'
							stroke-width='0'
							fill='currentColor'></path>
					</svg>
					 Sobre el proyecto
				</HeaderButton>
			</li>
		</ul>
	</nav>
</header>
